### Objectives
---
This notebook explores the effect of setting grouped indices on mySQL tables. 

Specifying the correct indices will allow the insert function to work as expected.

For example, by setting indices to (`date`, `product`, `delivery`), there will only be one price value for a given combination of the unique index. 

Hence, `ON DUPLICATE KEY UPDATE` will update the existing values in the database if the same unique index combination is inserted into the db.

### Get data and select top 10 rows

In [2]:
import mpob
import mysql

df = mpob.get_daily_prices(2019, 2019) # months = list(range(1,2))
df = df.head(10)

Reading data for 2019-1 ...
Massaging final frame ...
All done! 3 DataFrames were downloaded.

### Connect to db and create table

In [7]:
db = mysql.DB("mpob_daily")
db.connect()
db.create()

<_mysql.connection open to '35.240.192.164' at 0x5576e7238d28>
Successfully created table: mpob_daily with schema date DATE, product VARCHAR(255), delivery DATE, price FLOAT, updated DATETIME

mysql> show tables;
+------------------+
| Tables_in_mpobDB |
+------------------+
| daily            |
| mpob_daily       | <--- New table has been created
| pk_recovery      |
| reports          |
+------------------+

Table schema

mysql> describe mpob_daily;
+----------+--------------+------+-----+---------+-------+
| Field    | Type         | Null | Key | Default | Extra |
+----------+--------------+------+-----+---------+-------+
| date     | date         | YES  |     | NULL    |       |
| product  | varchar(255) | YES  |     | NULL    |       |
| delivery | date         | YES  |     | NULL    |       |
| price    | float        | YES  |     | NULL    |       |
| updated  | datetime     | YES  |     | NULL    |       |
+----------+--------------+------+-----+---------+-------+
5 rows in set (0.00 sec)

### Insert data into db

In [8]:
for idx, row in df.iterrows():
    db.insert(row) # Default overwrite = N - query excludes ON DUPLICATE KEY UPDATE

Initial result set

mysql> select * from mpob_daily;
+------------+---------+------------+--------+---------------------+
| date       | product | delivery   | price  | updated             |
+------------+---------+------------+--------+---------------------+
| 2019-01-09 | CPO     | 2019-04-01 |   2200 | 2019-08-20 06:25:07 |
| 2019-01-07 | CPKO    | 2019-04-01 |   3241 | 2019-08-20 06:25:07 |
| 2019-01-08 | CPKO    | 2019-04-01 | 3257.5 | 2019-08-20 06:25:07 |
| 2019-01-09 | CPKO    | 2019-04-01 |   3274 | 2019-08-20 06:25:07 |
| 2019-01-22 | CPKO    | 2019-04-01 |   3240 | 2019-08-20 06:25:07 |
| 2019-01-24 | CPKO    | 2019-04-01 |   3199 | 2019-08-20 06:25:07 |
| 2019-01-28 | CPKO    | 2019-04-01 | 3181.5 | 2019-08-20 06:25:07 |
| 2019-01-29 | CPKO    | 2019-04-01 | 3119.5 | 2019-08-20 06:25:07 |
| 2019-01-31 | CPKO    | 2019-04-01 | 3098.5 | 2019-08-20 06:25:07 |
| 2019-01-02 | CPO     | 2019-02-01 |   2110 | 2019-08-20 06:25:07 |
+------------+---------+------------+--------+---------------------+
10 rows in set (0.00 sec)

### Case 1: Set the index on date, product, delivery

mysql> ALTER TABLE mpob_daily ADD UNIQUE INDEX mpob_daily_unique_index (`date`, `product`, `delivery`);
Query OK, 0 rows affected (0.02 sec)
Records: 0  Duplicates: 0  Warnings: 0

mysql> show index from mpob_daily;
+------------+------------+-------------------------+--------------+-------------+-----------+-------------+----------+--------+------+------------+---------+---------------+
| Table      | Non_unique | Key_name                | Seq_in_index | Column_name | Collation | Cardinality | Sub_part | Packed | Null | Index_type | Comment | Index_comment |
+------------+------------+-------------------------+--------------+-------------+-----------+-------------+----------+--------+------+------------+---------+---------------+
| mpob_daily |          0 | mpob_daily_unique_index |            1 | date        | A         |           9 |     NULL | NULL   | YES  | BTREE      |         |               |
| mpob_daily |          0 | mpob_daily_unique_index |            2 | product     | A         |          10 |     NULL | NULL   | YES  | BTREE      |         |               |
| mpob_daily |          0 | mpob_daily_unique_index |            3 | delivery    | A         |          10 |     NULL | NULL   | YES  | BTREE      |         |               |
+------------+------------+-------------------------+--------------+-------------+-----------+-------------+----------+--------+------+------------+---------+---------------+
3 rows in set (0.00 sec)

#### Update value for first row

Scenario: MPOB Website decides to change the prices at some random time in the day

In [9]:
gen = df.iterrows()
row = next(gen)[1]
row

date        2019-01-09 00:00:00
product                     CPO
delivery    2019-04-01 00:00:00
price                      2200
updated     2019-08-20 07:02:35
id                         NULL
Name: 8, dtype: object

In [10]:
# Price is now changed!
row['price'] = 9999
row['updated'] = '2019-08-20 16:25:07'
row

date        2019-01-09 00:00:00
product                     CPO
delivery    2019-04-01 00:00:00
price                      9999
updated     2019-08-20 16:25:07
id                         NULL
Name: 8, dtype: object

In [11]:
db.insert(row)

We see that the first value has changed, with the updated time, as index was set on date, product and delivery.

mysql> select * from mpob_daily;
+------------+---------+------------+--------+---------------------+
| date       | product | delivery   | price  | updated             |
+------------+---------+------------+--------+---------------------+
| 2019-01-09 | CPO     | 2019-04-01 |   9999 | 2019-08-20 16:25:07 | <--- Value has been updated
| 2019-01-07 | CPKO    | 2019-04-01 |   3241 | 2019-08-20 06:25:07 |
| 2019-01-08 | CPKO    | 2019-04-01 | 3257.5 | 2019-08-20 06:25:07 |
| 2019-01-09 | CPKO    | 2019-04-01 |   3274 | 2019-08-20 06:25:07 |
| 2019-01-22 | CPKO    | 2019-04-01 |   3240 | 2019-08-20 06:25:07 |
| 2019-01-24 | CPKO    | 2019-04-01 |   3199 | 2019-08-20 06:25:07 |
| 2019-01-28 | CPKO    | 2019-04-01 | 3181.5 | 2019-08-20 06:25:07 |
| 2019-01-29 | CPKO    | 2019-04-01 | 3119.5 | 2019-08-20 06:25:07 |
| 2019-01-31 | CPKO    | 2019-04-01 | 3098.5 | 2019-08-20 06:25:07 |
| 2019-01-02 | CPO     | 2019-02-01 |   2110 | 2019-08-20 06:25:07 |
+------------+---------+------------+--------+---------------------+
10 rows in set (0.00 sec) <--- No. of rows remain the same

### Case 2: Set the index on all columns

mysql> drop index mpob_daily_unique_index on mpob_daily;
Query OK, 0 rows affected (0.00 sec)
Records: 0  Duplicates: 0  Warnings: 0

mysql> ALTER TABLE mpob_daily ADD UNIQUE INDEX mpob_daily_unique_index (`date`, `product`, `delivery`, `price`, `updated`);
Query OK, 0 rows affected (0.02 sec)
Records: 0  Duplicates: 0  Warnings: 0

In [12]:
row['price'] = 8888
row['updated'] = '2019-08-20 20:25:07'
row

date        2019-01-09 00:00:00
product                     CPO
delivery    2019-04-01 00:00:00
price                      8888
updated     2019-08-20 20:25:07
id                         NULL
Name: 8, dtype: object

In [13]:
db.insert(row)

mysql> select * from mpob_daily;
+------------+---------+------------+--------+---------------------+
| date       | product | delivery   | price  | updated             |
+------------+---------+------------+--------+---------------------+
| 2019-01-02 | CPO     | 2019-02-01 |   2110 | 2019-08-20 06:25:07 |
| 2019-01-07 | CPKO    | 2019-04-01 |   3241 | 2019-08-20 06:25:07 |
| 2019-01-08 | CPKO    | 2019-04-01 | 3257.5 | 2019-08-20 06:25:07 |
| 2019-01-09 | CPKO    | 2019-04-01 |   3274 | 2019-08-20 06:25:07 |
| 2019-01-09 | CPO     | 2019-04-01 |   8888 | 2019-08-20 20:25:07 | <--- New row has been inserted
| 2019-01-09 | CPO     | 2019-04-01 |   9999 | 2019-08-20 16:25:07 | <--- Notice that the first row was shifted down
| 2019-01-22 | CPKO    | 2019-04-01 |   3240 | 2019-08-20 06:25:07 |
| 2019-01-24 | CPKO    | 2019-04-01 |   3199 | 2019-08-20 06:25:07 |
| 2019-01-28 | CPKO    | 2019-04-01 | 3181.5 | 2019-08-20 06:25:07 |
| 2019-01-29 | CPKO    | 2019-04-01 | 3119.5 | 2019-08-20 06:25:07 |
| 2019-01-31 | CPKO    | 2019-04-01 | 3098.5 | 2019-08-20 06:25:07 |
+------------+---------+------------+--------+---------------------+
11 rows in set (0.00 sec) <--- Row has been increased by 1

We see that the behavior is the same, regardless of whether we use overwrite = "Y" `ON DUPLICATE KEY UPDATE`, or overwrite = "N"

This is because every entry into the db is unique if the index is set on ALL columns!

Note: 
The insert function call has been simplified to remove the overwrite option. 

Previously, ON DUPLICATE KEY UPDATE was controlled by a boolean flag to be appended onto the INSERT INTO query. 

To control overwriting of existing values in the database, define your key indices correctly once the table has been created, i.e. set unique_index(date, product, delivery) if prices can be overwritten, and set unique_index on ALL columns if updated prices are to be inserted as a new row